

html{
  font-size: 62.5%; /*10px*/
  box-sizing: border-box;

}
body{
  
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#root{
  height: 100%;
}

.maindiv{
  display: grid; /*layout*/
  grid-template-areas: 
   'header' /*1*/
   'main'
   'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;

}
header{
  grid-area: header;/*placeholder of 1*/
  background-color:#8791ee;

}
main{
  grid-area: main;
  padding: 1rem;

}
footer{
  grid-area: footer;
  background-color: #8791ee;
  color:#ffffff;

}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
a{
  text-decoration: none;/*for everything (remove underline for links)*/
}
a:hover{
  color: aquamarine;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;/*to get rid of bullet points*/
}
li{
  margin-top: 1rem;
}
header a{ /*links inside header*/
  color: #ffffff;
  padding: 1rem;

}
a.aname{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;

}
.inlinedis{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  align-items: center;
}
.inlinedis.center{
  justify-content: center;
}
.inlinedis.top{
  align-items: flex-start;/*items stick to top*/
}
.col01{
  flex: 1 1 25rem;/*[ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
}
.col02{
  flex: 2 1 50rem;/*[ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
}
img{
  border-radius: 0.5rem;
  
}
img.imgclass{
  max-width: 35.74rem;
  width: 100%;
}
.items{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.item-info{
  padding: 1rem;
}
.item-info > *{   /*for all images*/
  margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
.rating span{
  color:#f0c040;
  margin: 0.1rem;
}
.rating span:last-child{
  color: black;

}


